.main-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -2;
}
.appnavbar {
  position: absolute;
  width: 100%;
}
.app-landing-container {
  background-color: #17191a;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -1;
}
.overlay-button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 6.8vh;
  width: 22vw;
  background-color: #5480c1;
  color: white;
  border: none;
  border-radius: 3.25vw;
  font-size: 1.4vw;
  font-weight: 700;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.overlay-button:hover {
  background-color: #5480c1;
  transition: 0.3s;
  box-shadow: 0 0 10px #5d8bd1, 0 0 40px #6797dd, 0 0 80px #6c9be0;
}

.button-container {
  display: flex;
}

.image-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13vw;
  width: 35.5vw;
  background-color: #5480c115;
  border-radius: 12vw;
}

.button-shade {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13vw;
}

.button-shade1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vw;
  width: 32.5vw;
  background-color: #5480c121;
  border-radius: 13vw;
}

.button-shade2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vw;
  width: 28.5vw;
  background-color: #5480c11e;
  border-radius: 9vw;
}
.button-shade3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vw;
  width: 24.7vw;
  background-color: #5480c11f;
  border-radius: 9vw;
}

.overlay-button img {
  height: 4vh;
  width: auto;
}

@media (max-width: 768px) {
  .overlay-button {
    width: 56vw;
    border-radius: 3.25vh;
    height: 10vw;
    font-size: 1.8vh;
  }
  .image-stack {
    width: 76vw;
    height: 30vw;
    border-radius: 15vw;
  }
  .button-shade {
    width: 72vw;
    height: 26vw;
    border-radius: 13vw;
  }

  .button-shade1 {
    width: 68vw;
    height: 22vw;
    border-radius: 11vw;
  }

  .button-shade2 {
    width: 64vw;
    height: 18vw;
    border-radius: 9vw;
  }
  .button-shade3 {
    width: 60vw;
    height: 14vw;
    border-radius: 7vw;
  }
  .overlay-button img {
    height: 3vh;
    width: auto;
  }
}
