.export-share-button {
  width: 100%;
  height: 90%;
  /* width: 4vh;
  height: 4vh; */
  border-radius: 2px;
  font-size: 90%;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
  min-width: 100px;
  min-height: 40px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: white;
  background: transparent;
  border: 0.1vw solid #edece7;
  box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.4);
}
.export-share-button:hover {
  background: #e6a500; 
  color: white;
}

.exportbutton {
  color: white;
  /* background: #e6a500; */
  background: #e6a500;
  border: 0.1vw solid white;
}

.sharebutton:hover {
   background: #e6a500; 
  color: white;
}

.exportbutton:hover {
  color: #e6a500;
  background: white;
}
.editbutton:hover {
  color: white;
  background: #e6a500; 
  border: 0.1vw solid white;
}

button:active {
  transform: translateY(2px);
}

.button-with-icon .download-icon {
  margin-right: 9px; /* Add margin to create space between icon and text */
}
