/* Hide scrollbar for WebKit browsers */
.share-no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.share-no-no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.desktop-view {
  display: none;
}

@media screen and (min-width: 1024px) {
  .desktop-view {
    display: flex;
  }
}
