/* src/PresentationCheck.css */
.presentation-check-container1 {
  padding-top: 4px; /* Adjust this value based on the height of your navbar */
}

.presentation-check-container {
  display: flex;
  height: calc(100vh - 60px); /* Adjust height to account for the fixed navbar */
  overflow: hidden;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.sidebar {
  width: 250px;
  background-color: #001b28;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.sidebar-item {
  padding: 10px;
  margin: 10px 0;
  background-color: #001b28;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
  font-size:1.2vw;
}

.separator {
  height: 0.7px;
  /* width: 80%; */
  background-color:  rgba(163, 163, 163, 0.3); /* Change color as needed */
  margin: 0; /* Adjust margins as needed */
}

.sidebar-item:hover {
  background-color: rgba(163, 163, 163, 0.3);
  color: rgb(255, 255, 255);
}

.sidebar-item.active {
  background-color: #e6a500;
  color: rgb(0, 0, 0);
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
  position: relative;
}

.content-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #e6a500;
  border-bottom: 1px solid #ddd;
}
.fetch-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* .loadingIcon{
  position:absolute;
} */

.fetch-button:hover {
  background-color: #0056b3;
}


/* Custom scrollbar styles for the sidebar and presentation slides */
.sidebar::-webkit-scrollbar,
.presentation-view-slides::-webkit-scrollbar {
  width: 6px; /* Adjust as needed */
}

.sidebar::-webkit-scrollbar-thumb,
.presentation-view-slides::-webkit-scrollbar-thumb {
  background-color: #e6a500;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-track,
.presentation-view-slides::-webkit-scrollbar-track {
  background-color: transparent;
}

.content::-webkit-scrollbar,
.presentation-view-slides::-webkit-scrollbar {
  width: 6px;
}

.content::-webkit-scrollbar-thumb,
.presentation-view-slides::-webkit-scrollbar-thumb {
  background-color: #e6a500;
  border-radius: 10px;
  height: 10rem;
}

.content::-webkit-scrollbar-track,
.presentation-view-slides::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .presentation-check-container {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
    height: auto;
    box-shadow: none;
    order: 1; /* Make sidebar appear first */
  }

  .content {
    padding: 10px;
    order: 2; /* Make content appear second */
  }

  .sidebar-item {
    padding: 10px;
    margin: 5px 0;
  }
}
