.sectionForm-Container{
    height: 80vh;
    width: 45vw;
    background-color:transparent;
    border: 1px solid rgb(0, 123, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 0.7vw;
    color: white;
}

.sectionForm-Container h2{
    font-size: 2vw;
}

.sectionForm-Content {
    height: 60vh;
    width: 40vw;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.section-form-buttons{ 
   height: 3vw; 
   width: 87%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.section-form-buttons button{
    height: 80%;
    width: 20%;
    border-radius:10px;
    color:white;
    background-color: #eab308;
    font-size: 1.1vw;
}

@media (max-width: 768px) {
    .sectionForm-Container{
        height: 54vh;
        width: 90vw;
        margin: 5% 0;
        gap:4vw;
    }
    .sectionForm-Container h2 {
        font-size: 5vw;
    }
    .sectionForm-Content {
        height: 35vh;
        width: 85vw;
        background-color: transparent;
    }
    .section-form-buttons {
        height: 10vw;
        margin:1vw;
    }
    .section-form-buttons button {
        height: 100%;
        width: 40%;
        border-radius: 10px;
        color: white;
        background-color: #eab308;
        font-size: 4vw;
    }
}

@media (max-width: 768px) {
    .sectionForm-Container{
        height: 54vh;
        width: 90vw;
        margin: 5% 0;
        gap:4vw;
    }
    .sectionForm-Container h2 {
        font-size: 5vw;
    }
    .sectionForm-Content {
        height: 35vh;
        width: 85vw;
        background-color: transparent;
    }
    .section-form-buttons {
        height: 10vw;
        margin:1vw;
    }
    .section-form-buttons button {
        height: 100%;
        width: 40%;
        border-radius: 10px;
        color: white;
        background-color: #eab308;
        font-size: 4vw;
    }
}

@media (max-width: 768px) {
    .sectionForm-Container{
        height: 54vh;
        width: 90vw;
        margin: 5% 0;
        gap:4vw;
    }
    .sectionForm-Container h2 {
        font-size: 5vw;
    }
    .sectionForm-Content {
        height: 35vh;
        width: 85vw;
        background-color: transparent;
    }
    .section-form-buttons {
        height: 10vw;
        margin:1vw;
    }
    .section-form-buttons button {
        height: 100%;
        width: 40%;
        border-radius: 10px;
        color: white;
        background-color: #eab308;
        font-size: 4vw;
    }
}

.section-form-buttons button:disabled{
    background-color: #ccc; /* Gray color to indicate disabled state */
    color: #666;           /* Darker gray for text */
    cursor: not-allowed;   /* Change cursor to indicate non-interactivity */
    opacity: 0.6;          
}

.submit-button .tail-spin-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }