/* components/shared/Navbar.css */
.app-nav {
  background-color: #001723;
  border-bottom: 1px solid #004264;
}

.app-navbar-container {
  display: flex;
  height: 55px;
  padding: 0.3vh;
  justify-content: space-between;
  align-items: center;
}
.app-navbar-logo-container {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.app-navbar-generateppt-container {
  width: 33%;
  font-display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-navbar-details-container {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 4vw;
  padding-right: 1vw;
}

.app-navbar-logo-container img {
  height: 3vw;
  cursor: pointer;
}

.app-navbar-generateppt-container button {
  cursor: pointer;
  width: 20vw;
  height: 5.5vh;
  border-radius: 50px;
  font-size: 100%;
  font-weight: 600;
  background-color: #e6a500;
  color: rgb(255, 255, 255, 1);
  border: 1px solid #e6a500;
  z-index: 10;
  transition: all;
}
.app-navbar-generateppt-container button:hover {
  color: #e6a500;
  background-color: rgb(255, 255, 255, 1);
  transition: all ease 500ms;
}
.app-navbar-generateppt-container button:hover img {
  border-radius: 5px;
  /* border: 1px solid #e6a500; */
  filter: invert(32%) sepia(85%) saturate(500%) hue-rotate(345deg);
}
.app-user-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 6.9vh;
  padding: 1vh -10px;
  right: 0;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  z-index: 1000;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu.show button {
  background-color: #e6a500;
  color: rgb(15, 15, 63);
  border: none;
  padding: 10px 20px;
  text-align: left;
  width: 6vw; /* Ensure the button width adjusts based on the content */
  height: 6vh; /* Ensure the button height adjusts based on the content */
  cursor: pointer;
  border-radius: 1vh;
}

.dropdown-menu button:hover {
  background-color: #f1f1f1;
}


.app-button-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.app-navbar-generateppt-container button img {
  width: 18px;
  height: auto;
  border: 3px solid transparent;
}

.app-navbar-details-container button {
  width: 130px;
  height: 5.5vh;
  border-radius: 50px;
  font-weight: 400;
  text-align: center;
  background-color: #004264;
  color: rgb(255, 255, 255, 0.8);
  border: 2px solid #004264;
  z-index: 10;
}

.app-navbar-details-container button:hover {
  color: #004264;
  background-color: rgb(255, 255, 255, 0.8);
}

.app-user {
  font-size: 35px;
  font-weight: 800;
  color: aliceblue;
  background-color: #001723;
  width: 35px;
  height: auto;
  border-radius: 20px;
}
.desktop-logo {
  display: block; 
  width: 130px;
}

.mobile-logo {
  display: none; /* Hide the mobile logo by default */
}

@media screen and (max-width: 600px){
  .app-navbar-container {
    height: 50px;
  }
  .app-navbar-logo-container img {
    height: auto;
  }
  .app-navbar-generateppt-container{
    width: 50%;
  }
  .app-button-inner{
    font-size: 4vw;
  }
  .app-navbar-generateppt-container button {
    cursor: pointer;
    width: 50vw;
    height: 10vw;
    height: fit-content;
    border-radius: 50px;
    font-size: 1.5vh;
  }
  .app-navbar-details-container button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: auto;
    height: auto;
    font-size: x-large;
  }
  .app-navbar-details-container button span {
    display: none;
  }
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    width: 40px;
    display: block; 
  }
}
