/* components/shared/Navbar.css */
.history-nav {
  background-color: #17191a;
  z-index: 1;
}

.history-navbar-container {
  display: flex;
  height: 55px;
  padding: 0.3vh;
  justify-content: center;
  align-items: center;
}

.history-userIcon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.history-userIcon-container:hover {
  background-color: #004264;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.history-userIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.dropdown-menu-nav {
  display: none;
  position: absolute;
  top: 6.9vh;
  padding: 1vh -10px;
  right: 0;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  z-index: 1000;
}

.dropdown-menu-history {
  display: none;
  position: absolute;
  top: 6.9vh;
  padding: 1vh -10px;
  right: 0;
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  z-index: 1000;
}

.dropdown-menu-history.show {
  display: block;
}

.dropdown-menu-history.show button {
  padding: 0.5rem 1rem;
  margin-right: 8px;
  margin-top: 13px;
  border: none;
  border-radius: 5px;
  background-color: #5480c1;
  background-color: #5480c1;
  color: #ffffff;
  font-size: 1.2vw;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.dropdown-menu-history button:hover {
  background-color: white;
  color: black;
}

.history-navbar-logo-container {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1vw;
}

.history-navbar-generateppt-container {
  width: 33%;
  font-display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-navbar-details-container {
  /* background-color: yellow; */
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 20px;
  padding-right: 1vw;
}

.history-navbar-logo-container img {
  height: auto;
  cursor: pointer;
}

.history-navbar-generateppt-container button {
  cursor: pointer;
  width: 20vw;
  height: 5.5vh;
  border-radius: 50px;
  font-size: 100%;
  font-weight: 600;
  background-color: #5480c1;
  color: rgb(255, 255, 255, 1);
  border: 1px solid #5480c1;
  z-index: 10;
  transition: all;
}

.history-navbar-generateppt-container button:hover {
  color: #5480c1;
  background-color: rgb(255, 255, 255, 1);
}

.history-navbar-generateppt-container button:hover img {
  border-radius: 5px;
  filter: invert(32%) sepia(85%) saturate(500%) hue-rotate(345deg);
}

.history-button-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.history-navbar-generateppt-container button img {
  /* position: relative; */
  width: 18px;
  height: auto;
  border: 3px solid transparent;
}

/* .history-navbar-details-container button {
  width: 130px;
  height: fit-content;
  border-radius: 50px;
  font-weight: 400;
  text-align: center;
  background-color: #004264;
  color: rgb(255, 255, 255, 0.8);
  border: 2px solid #004264;
}

.history-navbar-details-container button:hover {
  color: #004264;
  background-color: rgb(255, 255, 255, 0.8);
  border: none;
} */

.history-user {
  font-size: 35px;
  font-weight: 800;
  color: aliceblue;
  background-color: #001723;
  width: 35px;
  height: auto;
  border-radius: 20px;
}

.desktop-logo {
  display: block;
  width: 130px;
}

.mobile-logo {
  display: none; /* Hide the mobile logo by default */
}
@media screen and (max-width: 600px) {
  .history-navbar-container {
    height: 50px;
  }
  .history-navbar-logo-container img {
    height: auto;
  }
  .history-navbar-generateppt-container {
    width: 50%;
  }
  .history-button-inner {
    font-size: 2vh;
  }
  .history-navbar-generateppt-container button {
    cursor: pointer;
    width: 30vh;
    height: fit-content;
    border-radius: 50px;
    font-size: 1.5vh;
  }
  .history-navbar-details-container button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: auto;
    height: auto;
    font-size: x-large;
  }
  .history-navbar-details-container button span {
    display: none;
  }
  .desktop-logo {
    display: none;
  }
  .mobile-logo {
    width: 40px;
    display: block;
  }
  .dropdown-menu.show button {
    background-color: #5480c1;
    color: rgb(15, 15, 63);
    border: none;
    padding: 10px 20px;
    text-align: center;
    width: 27vw; /* Ensure the button width adjusts based on the content */
    height: 6vh; /* Ensure the button height adjusts based on the content */
    cursor: pointer;
    border-radius: 1vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .history-navbar-generateppt-container button {
    cursor: pointer;
    width: 21vw;
    height: 3.5vh;
    border-radius: 50px;
    font-size: 84%;
    font-weight: 600;
    background-color: #5480c1;
    color: rgb(255, 255, 255, 1);
    border: 1px solid #5480c1;
    z-index: 10;
    transition: all;
  }
}
