.login-nav {
  background-color: #17191a;
  z-index: 1;
  width: 100%;
}
.login-navbar-container {
  display: flex;
  height: 55px;
  padding: 0.3vh;
  justify-content: center;
  align-items: center;
}
.login-navbar-logo {
  width: 130px;
  height: auto;
  cursor: pointer;
}
