@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-track {
  background: #17191a;
}

textarea::-webkit-scrollbar-thumb {
  background: #5480c1;
  border-radius: 12px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #5480c1; /* Change color on hover if needed */
}
textarea {
  padding: 1vw;
}
