
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

textarea::-webkit-scrollbar {
    width: 4px;
  }
  
textarea::-webkit-scrollbar-track {
    background: #001b28;
  }
  
textarea::-webkit-scrollbar-thumb {
    background: #eab308;
    border-radius: 12px;
  }
  
textarea::-webkit-scrollbar-thumb:hover {
    background: #eab308; /* Change color on hover if needed */
  }
 textarea{
    padding: 1vw;
 }